@import "../../node_modules/font-awesome/scss/font-awesome";

body {
  cursor: default;
  -webkit-app-region: drag;
  -webkit-user-select: none;
  /* background: #f7f7cf; */
  background: #fff;
  /* font-family: "Lato"; */
  /* background: rgba(255, 255, 255, 0.8); */
  &:hover {
    .navigations-col {
      border-left: solid 1px black;
    }
  }
}

body *:focus {
  outline: none;
}

a, a:hover, a:visited, a:active, a:focus {
  text-decoration: none;
}

.main {
  margin-top: 15px;
  text-align: center;
}

.wrapper {
  display: flex;
}

.btn-timer {
  -webkit-app-region: no-drag;
  border: solid 1px red;
  box-shadow: 0px 0px 1px darkred;
  background: white;
  padding: 10px;
  margin: 5px;
  width: 160px;
  height: 60px;
  display: flex;
  &:hover {
    background: #eee;
  }

  &.time-break {
    background: #FFE4C1;
    border-color: #4E2800;
  }

  &.time-pause {
    h2 {
      color: gray;
    }
  }

  .icon-wrap {
    padding: 8px 18px;
  }
  h2 {
    font-weight: lighter;
    font-size: 2.5em;
    margin: 0;
  }
  .timer-btn-icon {
    font-size: 2em;
    color: #ff7e2f;
  }
}

.description-col {
  padding: 5px 2px 5px;
  width: 6.6em;

  .checked {
    .tomato-count-icon {
      color: #461b00;
      font-size: 1em;
    }
  }
}

.navigations-col {
  padding-top: 5px;
  padding-left: 6px;
  border-left: solid 1px white;
  width: 1.2em;

  .navigations {

    .navigations-skip {
      &:hover {
        color: orange;
      }
    }
    .navigations-forward {
      &:hover {
        color: orange;
      }
    }
  }
}
